#container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
}

.header-page-index {
  width: 100%;
  height: 70px;
  background-color: #3b5998;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.logo > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 45px;
  font-weight: 600;
}

.wrapper-field-login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-field-login-form > .field-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px 0 0;
  color: #ffffff;
  font-size: 17px;
}

.field-login > input {
  margin: 5px 0 0 0;
}

.wrapper-field-login-form > input[type="submit"] {
  padding: 5px 13px;
  background-color: #1044b6;
  color: #ffffff;
  outline: none;
  border: none;
}

.wrapper-field-login-form > input[type="submit"]:hover {
  background-color: #034dec;
}

.interaction-login-page-index {
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(189, 197, 235, 0.527)), to(white));
  background-image: linear-gradient(to top, rgba(189, 197, 235, 0.527), white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0 20px 0;
}

.welcome-to-facebook {
  width: 33%;
}

.welcome-to-facebook h2 {
  width: 80%;
  color: #09092c;
  font-size: 24px;
  margin-bottom: 30px;
}

.welcome-to-facebook img {
  width: 100%;
}

.wrapper-field-signin-form {
  width: 28%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper-field-signin-form h2 {
  font-size: 34px;
  font-weight: 600;
  color: #131313;
  margin-bottom: 20px;
}

.wrapper-field-signin-form strong {
  font-size: 20px;
  font-weight: 400;
  color: #131313;
  margin-bottom: 20px;
}

.field-signin {
  width: 100%;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.field-signin ::-webkit-input-placeholder {
  font-size: 18.5px;
}

.field-signin :-ms-input-placeholder {
  font-size: 18.5px;
}

.field-signin ::-ms-input-placeholder {
  font-size: 18.5px;
}

.field-signin ::placeholder {
  font-size: 18.5px;
}

.field-signin > input {
  width: 100%;
  height: 50px;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 0 0 0 5px;
}

.field-signin-in-box {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.field-signin-in-box input {
  width: 49%;
  height: 50px;
}

.field-signin--label label {
  margin-bottom: 5px;
  color: gray;
  font-size: 23px;
}

.field-signin--label > div > label {
  margin-bottom: 5px;
  color: black;
  font-size: 20px;
  margin: 0 20px 0 0;
}

.wrapper-field-signin-form > input[type="submit"] {
  padding: 3% 20%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#248520), to(#55c552));
  background-image: linear-gradient(to top, #248520, #55c552);
  border: 1px solid #ffffff;
  border-radius: 4px;
  font-size: 1.4rem;
  color: #ffffff;
  text-transform: capitalize;
}

.wrapper-field-signin-form > input[type="submit"]:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-sub-menu-index-page {
  width: 900px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.footer-sub-menu-index-page a {
  margin: 0 15px 0 15px;
}

.border-bottom-grey {
  border-bottom: 1px solid #dbdbdb;
}
/*# sourceMappingURL=styles.css.map */